.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 3%;
}

.container-center {
  display: flex;
  height: 100%;
  gap: 4%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.buttons-container {
  display: flex;
  gap: 1%;
  align-content: center;
  justify-content: space-around;
}

.loading-text {
  font-size: 1.5em;
}

.edit-icon {
  cursor: pointer;
}

.tags {
  white-space: pre;
}

.table-container {
  overflow-y: auto;
  overflow-x: hidden;
}

mat-header-cell,
mat-cell {
  justify-content: center;
}

mat-header-cell {
  font-weight: bold;
}

.no-data {
  padding: 1%;
}

.filter {
  width: 100%;
}

.search {
  padding: 3vh;
  width: 100%;
  max-width: 300px;
}

.mat-mdc-raised-button.success {
  background-color: #009933;
  color: #fff;
}
